<div class="container">
    <!-- <button mat-raised-button color="primary" (click)="ping()" class="ping">PING!</button>
    <div *ngIf="pong$ | async" class="pong">PONG</div> -->
    <app-toolbar></app-toolbar>
    <div class="row">
        <button type="button" mat-raised-button color="accent" (click)="openDialogMachine()">Agregar Terminal</button>
    </div>
    <div class="row">
        <app-card-list [terminals]="terminals" (terminalId)="handleTerminal($event)"></app-card-list>
    </div>
</div>
