<div>
    <h1 mat-dialog-title>Ingresa una terminal</h1>
    <div mat-dialog-content>
        <form [formGroup]="machineForm" class="form-machine" (ngSubmit)="onSubmit(machineForm.value)">
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Ex. Desktop-01" cdkFocusInitial />
                    <mat-error *ngIf="machineForm.get('name')?.hasError('required')">{{
                        getErrorMessage('name')
                    }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Direccion IP</mat-label>
                    <input type="text" matInput formControlName="ip" placeholder="Ex. 192.168.1.1-255" />
                    <mat-error
                        *ngIf="machineForm.get('ip')?.hasError('required') || machineForm.get('ip')?.hasError('pattern')"
                        >{{ getErrorMessage('ip') }}</mat-error
                    >
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="text" matInput formControlName="password" placeholder="Ex. '123456789'" />
                    <mat-error
                        *ngIf="
                            machineForm.get('password')?.hasError('required') ||
                            machineForm.get('password')?.hasError('pattern')
                        "
                        >{{ getErrorMessage('password') }}</mat-error
                    >
                </mat-form-field>
            </div>
            <!-- <div class="row">
        <div *ngIf="machineForm.get('check-feature').value === true">
            <mat-form-field appearance="fill">
                <mat-label>Grupos de red conocidos:</mat-label>
                <mat-select>
                    <mat-option>something</mat-option>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{ food.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-checkbox formControlName="check-feature">Agregar al grupo de red local</mat-checkbox>
    </div> -->
            <div mat-dialog-actions>
                <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
                <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [class.spinner]="loading"
                    [disabled]="machineForm.invalid || loading">
                    Agregar
                </button>
            </div>
        </form>
    </div>
</div>